.navigation {
    background-color: $white;
    border-bottom: 1px solid $grey;

    .navbar {
        padding: $baseline-unit $baseline-unit*2;
        background-color: transparent !important;

        @media (min-width: $breakpoint-desktop) {
            max-width: 85%;
            margin: 0 auto;
        }

        .navbar-brand__logo {
            width: 120px;
        }
    }

}
