// General spacing, radius etc
$baseline-unit: 10px;
$border-radius: 4px;

// Screen breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Colours
$white: #fff;
$pink: #c82a87;
$darkpink: #9c0052;
$supportpink: #AE0060;
$yellow: #f0f05a;
$blue: #0f19a0;
$grey: #9da1ca;
$lightgrey: #f3f1f3;
$dark: #000b3b;
$green: green;
$red: red;
$bright-blue: #6fd8d8;
$disabled: #E5E5E5;
$purple: #8200D1;
