{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ object.tool_title }}</h5>
                  <p class="card-text">{{ object.tool_iframe_url }}</p>
                  <a href="tools/{{ object.slug }}" class="btn btn-primary">Visit tool</a>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
        <!-- If object_list is empty  -->
        {% empty %}
        None added
        {% endfor %}
    </div>
{% endblock %}
